<div class="mx-5 my-3 w-50">
  <div
    class="card"
    [ngClass]="{
      'text-bg-warning': post.type === 'news',
      'text-bg-dark': post.type === 'politic',
      'text-bg-primary': post.type === 'education'
    }"
  >
    <h5 class="card-header">
      <span>{{ post.id }}° <span appHighlight>Post</span></span>
    </h5>
    <div class="card-body">
      <h5 class="card-title">{{ post.title | uppercase }}</h5>
      <p class="card-text">
        {{ post.body }}
      </p>
      <ng-content></ng-content>
      <app-details-btn [routerLink]="['details']"></app-details-btn>
    </div>
  </div>
</div>
